<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>

        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <%- include("../partials/nav.ejs") %>

        <main role="main">
            <div class="m-5">
                <h1>Give us a call or shoot us an email</h1>
                <h5 class="mt-3">Phone: <%= contact.phone %></h5>
                <h5 class="mt-3">Email: <%= contact.email %></h5>
            </div>
        </main>
        
        <%- include("../partials/footer.ejs") %>
    </body>
</html>
